.body1 {
  
	padding: 250px 0;
	margin: 30px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 2rem;
  background-image: url("https://img.buzzfeed.com/buzzfeed-static/static/2015-10/27/17/enhanced/webdr07/longform-24536-1445980295-3.jpg");
  background-size: cover;
  background-size: auto auto;
  color: #102118;
  
}

.body1 {
	animation: blinker 0.1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}

.meme1 {
	animation-duration: 3s;
	animation-name: slide-in;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
